@use './components/NavBar';
@use './components/Authentication';
@use './pages/Landing';

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #031022;
    color: #f5f3ed;
    margin: 0px;
    a{
        text-decoration: none;
        color: #f5f3ed;
    }
    a:hover{
        color: #0094C6;
    }
}



//Exta Small
@media (max-width:600px) { 
    body{
        background-color: #0094C6;
    }
 }

//colors #F8F4E3 #2A2B2A #0094C6