.NavBar {
  background-color: #111214;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}
.NavBar .ImageCard {
  width: 75px;
  height: 75px;
}
.NavBar .ImageCard a {
  width: 100%;
  height: 100%;
}
.NavBar .ImageCard a img {
  width: 100%;
  height: 100%;
}
.NavBar .LinkCard {
  display: flex;
  justify-content: space-between;
  width: 175px;
  height: 20px;
}
.NavBar .LinkCard a {
  text-decoration: none;
  color: #f5f3ed;
}
.NavBar .LinkCard a:hover {
  color: #0094C6;
}

@media (max-width: 600px) {
  .CreateCard {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .CreateCard .FormCard {
    background-color: #161616;
    width: 300px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    border-radius: 20px;
  }
  .CreateCard .FormCard h1 {
    height: 40px;
    flex-basis: 90%;
    text-align: center;
  }
  .CreateCard .FormCard .CreateNewUserForm {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .CreateCard .FormCard .CreateNewUserForm label {
    flex-basis: 250px;
    margin-top: 5px;
  }
  .CreateCard .FormCard .CreateNewUserForm input {
    width: 250px;
    border: none;
    padding: 0px;
    margin-top: 2px;
    height: 20px;
    border-radius: 8px;
    padding-left: 5px;
  }
  .CreateCard .FormCard .CreateNewUserForm .ButtonCard {
    margin-top: 25px;
    flex-basis: 250px;
    display: flex;
    justify-content: space-around;
  }
  .CreateCard .FormCard .CreateNewUserForm .ButtonCard button {
    border-radius: 10px;
    border: none;
    height: 35px;
    width: 115px;
    font-size: 14px;
    color: #f5f3ed;
  }
  .CreateCard .FormCard .CreateNewUserForm .ButtonCard .CreatAccount {
    background-color: rgb(19, 185, 19);
  }
  .CreateCard .FormCard .CreateNewUserForm .ButtonCard .Login {
    background-color: #0094C6;
  }
}
@media (max-width: 600px) {
  .MainContainer .MainCard {
    padding-left: 10px;
  }
  .MainContainer .MainCard .ImageContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .MainContainer .MainCard .ImageContainer img {
    width: 300px;
    height: 300px;
  }
  .MainContainer .SecoundaryCard {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: #111214;
  }
  .MainContainer .SecoundaryCard .ImageContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .MainContainer .SecoundaryCard .ImageContainer img {
    width: 100%;
    height: 300px;
  }
  .MainContainer .GettingStartedCard {
    padding-left: 10px;
  }
  .MainContainer .GettingStartedCard .ImageContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .MainContainer .GettingStartedCard .ImageContainer img {
    width: 300px;
    height: 300px;
  }
  .MainContainer .AccountCard {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #111214;
  }
  .MainContainer .AccountCard .ImageContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .MainContainer .AccountCard .ImageContainer img {
    width: 300px;
    height: 300px;
  }
}
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #031022;
  color: #f5f3ed;
  margin: 0px;
}
body a {
  text-decoration: none;
  color: #f5f3ed;
}
body a:hover {
  color: #0094C6;
}

@media (max-width: 600px) {
  body {
    background-color: #0094C6;
  }
}/*# sourceMappingURL=index.css.map */