.NavBar{
    background-color: #111214;
    height: 70px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    .LinkCard{
        display: flex;
        justify-content: space-between;
        width: 175px;
        height: 20px;
        a{
            text-decoration: none;
            color: #f5f3ed;
        }
        a:hover{
            color: #0094C6;
        }
    }
}